# Lockfiles
bun.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Rust source
src/
Cargo.toml
Cargo.lock
target/

# Git
.git/
.gitignore
.github/

# Development
node_modules/
.vscode/
.idea/
*.log
prettierrc.yaml
eslint.config.cjs

# Tests
tests/
*.test.js

# CI/CD
.github/workflows/
